header 
{
    nav {
        display: flex;
        gap: 30px;
        
        a, a:visited {
            text-decoration: none;
            color: var(--color-surface);
            border-bottom: 1px var(--color-secondary) solid;
            padding: 0 10px 14px 10px;
            -webkit-tap-highlight-color: transparent;
        }
    
        a:hover {
            border-bottom: 1px var(--color-surface) solid;
        }


    }
    .nav-mobile-block {
        display: flex;
        justify-content: space-around;
    }

    .nav-toggle {
        display: none;
    
        width: 32px;
        height: 24px;
        padding: 0;

    
        border: 0;
        background: transparent;
    
        cursor: pointer;
    
        position: relative;
    
        span {
            position: absolute;
            left: 0;
    
            width: 100%;
            height: 2px;
    
            background: var(--color-surface);
    
            transition:
                transform 0.25s ease,
                opacity 0.25s ease,
                top 0.25s ease;
        }
    
        span:nth-child(1) {
            top: 2px;
        }
    
        span:nth-child(2) {
            top: 11px;
        }
    
        span:nth-child(3) {
            top: 20px;
        }
    }
}
    
@media (max-width: $mobile) {

    header {

        flex-flow: column;
        padding-bottom: 15px;
        gap: 15px;

        .nav-toggle {
            display: block;
        }
    
        .nav-mobile-block {
            width: 100%;
        }
    
        nav {
            display: none;
            flex-direction: column;
            gap: 10px;
            padding: 10px 30px 0 30px;
        }
    
        nav.open {
            display: flex;
        }
    
        .nav-toggle.open {
            span:nth-child(1) {
                top: 11px;
                transform: rotate(45deg);
            }
    
            span:nth-child(2) {
                opacity: 0;
            }
    
            span:nth-child(3) {
                top: 11px;
                transform: rotate(-45deg);
            }
        }
    }
    
}
