.notes-layout {
    display: flex;

    h1 {
        font-size: 50px;
        padding-bottom: 20px;
    }

    .notes-sidebar {
        display: flex;
        flex-flow: column;
        gap: 20px;
        width: 300px;

        h2 {
            a {
                text-decoration: none;
            }
        }

        nav {
            display: flex;
            flex-flow: column;
            gap: 5px;
            margin-bottom: 30px;

            a, a:visited {
                text-decoration: none;
            }
            a:hover {
                color: var(--color-secondary);
            }
        }
    }
}

@media (max-width: $mobile) {
    .notes-layout {
        flex-flow: column;

        h1 {
            font-size: 30px;
            padding-bottom: 10px;
        }

        .notes-sidebar {
            h2 {
                font-size: 20px;
            }
        }
    }
}
