.notes-layout {
    display: flex;
    gap: 30px;

    h2 {
        margin-top: 25px;
        margin-bottom: 5px;
    }

    .notes-sidebar {
        display: flex;
        flex-flow: column;
        gap: 20px;
        width: 200px;

        h2 {
            a {
                text-decoration: none;
            }
        }

        nav {
            display: flex;
            flex-flow: column;
            gap: 5px;
            margin-bottom: 30px;

            a, a:visited {
                text-decoration: none;
            }
            a:hover {
                color: var(--color-secondary);
            }
        }
    }
    .notes-content {
        width: 760px;
    }
}

@media (max-width: $mobile) {
    .notes-layout {
        flex-flow: column;

        h1 {
            padding-bottom: 10px;
        }

        .notes-sidebar {
            h2 {
                font-size: 20px;
            }
        }

        .notes-content {
            width: auto;
        }
    }
}
