section {
  
    margin: 0 50px;
    h1 {
        padding-bottom: 15px;
        color: var(--color-primary);
    }

    h2 {
        margin-top: 25px;
        margin-bottom: 5px;
    }
}

@media (max-width: $mobile) {
    section {
        margin: 0 0;
        
    }
}