section {
  
    margin: 0 50px;
    h1 {
        font-size:  50px;
        padding-bottom: 15px;
        color: var(--color-primary);
    }

    p {
        margin: 15px 0;
        text-align: justify;
    }
}

@media (max-width: $mobile) {
    section {
        margin: 0 0;
        
        h1 {
            font-size: 30px;
        }
    }
}