{% extends "base.html" %}

{% block content %}

<section class="page">
    <h1>{{ section.title }}</h1>

    {{ section.content | safe }}

    <div class="snippets">
        {% for page in section.pages %}
        
        <a href="{{ page.permalink }}">
            <div class="snippet">
                
                <div class="snippet-top">
                    <h2>
                        {{ page.title }}
                    </h2>
                    <div class="snippet-date">
                        {{ page.date | date(format="%d. %m. %Y") }}
                    </div>
                </div>
                
                <div class="snippet-bottom">
                    {{ page.summary | safe }}
                </div>
                
            </div>
        </a>
        {% endfor %}
    </div>
</section>

{% endblock content %}